/* link style */
a.sampel{
    text-decoration: none;
	color: #CCC;
}
a.sampel:hover {
    text-decoration: none;
	color: #FFF;
}
a.globalmenu{
    text-decoration: none;
	color: #00F;
}
a.globalmenu:hover {
    text-decoration: none;
	color: #F00;
}
a.link{
    text-decoration: none;
	color: #00F;
}
a.link:hover {
    text-decoration: underline;
	color: #00F;
}
a.vehicle{
    text-decoration: none;
	color: #FFF;
}
a.vehicle:hover {
    text-decoration: underline;
	color: #FFF;
}
a.figgrp{
    text-decoration: none;
	color: #800000;
}
a.figgrp:hover {
    text-decoration: none;
	color: #FFF;
}
/* menu style */
.menu { 
	width: 980px; 
	height: 25px; 
	border: 0px solid #000;
	font-size: 12px;
    font-family:  arial, verdana, sans-serif;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0;
}
.menu ul{
    margin: 0;
	padding: 0;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    float: left;
	text-decoration: none;
	text-align: center;
    color: #999;
    padding: 5px 5px 5px 5px;
	width: 316px;
	height: 15px;
    background-color: #800000;
}
.menu ul li a:hover, .menu ul li .current{
    color: #FFF;
    background-color: #FF0000;
}
.imgmainmenu {
  border: 0px solid;
  vertical-align: middle;
  margin: 10px;
}
/* style for filtering
#pagewrap {
	float: left; 
	margin: 10px 0 10px 0;
	width: 975px; 
	height: 360px; 
	border: 0px solid #F00;
}
#search {
	float: left; 
	margin: 0 0 5px 0; 
	width: 350px; 
	height: 30px; 
	border: 0px solid #DDD;
}
#body {
				
}
table.filter {
  width: 100%;
}
th.filter.sortable {
  background-color: #999;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: normal;
}
th.filter.sortable:hover {
  background-color: #999;
}
th.filter.sorted-asc, th.sorted-desc  {
  background-color: #999;
}
td.filter{ 
  background-color: #999;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
}
td.filter.odd {
  background-color: #999;
}
td.filter.hovered {
  background-color: lightblue; color: #000;
} */
/* image caption for menu in home page */
div.wrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */ 
}
div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:4px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color:white;
	opacity:0.4; /* transparency */
	filter:alpha(opacity=40); /* IE transparency */
}
p.description_content{
	padding: 10px;
	margin:0px;
}
/* typeface for content */
.dateinfo {
  font-size: 56px;
  font-family:  arial, verdana, sans-serif;
  font-weight: bold;
}
.vehicleinfo {
  font-size: 28px;
  font-family:  arial, verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
}
.title {
  font-size: 14px;
  font-family:  arial, verdana, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 125%; 
  color: #F00;
}
.formtitle {
  font-size: 18px;
  font-family:  arial, verdana, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #000;
}
.content{
	color: #000000;
	font-size: 14px;
	font-family: arial, verdana, sans-serif;
}
.info{
	color: #999999;
	font-size: 12px;
	font-family: arial, verdana, sans-serif;
}
.inform{
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
}
.warning{
    color: #FF0000;
	font-weight: bold;
	font-family: arial, verdana,  sans-serif;
	font-size: 14px;
}
.smallwarning{
    color: #FF0000;
	font-weight: normal;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
}
/* style for search and highlight */
.highlight { 
	background : #ff0; 
}
/* end style */
/* style for item in table */
.tabletitle{
    color: #FFFFFF;
	text-transform: uppercase;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	letter-spacing: 1px;
}
.tablecontent{
    color: #000;
	text-transform: none;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
}
.detailtitle{
    color: #FFFFFF;
	text-transform: uppercase;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	letter-spacing: 1px;
	line-height: normal;
}
.detailcontent{
    color: #000;
	text-transform: none;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	line-height: 80%; 
}
.image{
	vertical-align: middle;
	border: 0px;
}
.downloadrow1 {
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	background-color: #EEE;
	padding: 5px;
	margin: 0;
}
.downloadrow2 {
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	background-color: #FFF;
	padding: 5px;
	margin: 0;
}
.intable{
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
}
/* style for form */
.buttonSubmit {
    color: black;
    background-color: #fff;
    font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
    border: 1px solid #666;
    height: 24px;
	padding: 2px 8px 2px 8px;
	vertical-align: middle;
}
.buttonLogin {
    color: black;
    background-color: #fff;
    font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
    border: 0px solid #999;
    height: 24px;
	padding: 2px 8px 2px 8px;
}
.buttonWarning {
    color: black;
    background-color: #fc0;
    font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
    border: 1px solid #000;
    height: 24px;
	padding: 2px 8px 2px 8px;
}
.loginField { 
    font-size: 14px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
    background-color: #FFFFFF; 
    border: 0px solid #666;
	height: 20px;
	width: 200px;
	margin: 5px 0px 5px 0px;	
}
.textField { 
    font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
    background-color: #FFFFFF; 
    border: 1px solid #666;
	height: 18px;
	width: 200px;
	margin: 2px 0px 2px 0px;
	vertical-align: middle;
}
.numField { 
    font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
    background-color: #FFFFFF; 
    border: 1px solid #666;
	height: 20px;
	width: 60px;
	margin: 2px 0px 2px 0px;	
}
.dateField { 
    font-size: 12px;
	font-family: Arial, Verdana, Helvetica, sans-serif; 
    background-color: #FFFFFF; 
    border: 1px solid #666;
	height: 20px;
	width: 120px;
	margin: 2px 0px 2px 0px;
}
select { 
    color: black; 
    background-color: #FFFFFF;
    font-size: 12px;
	font-family: Arial, Verdana,Helvetica, sans-serif;
	border: 1px solid #666;
	height: 20px;
	margin: 5px 0px 5px 0px;
}
option {
    padding: 2px;
}
.procack {
	list-style: bullet;
}
.radio {
    vertical-align: middle;
}
/* list of id style */
#centerformlogin  {
	width:500px; 
	height:200px; 
	position:absolute; 
	top:50%; 
	left:50%; 
	margin: -100px auto auto -250px; 
	border: 0px solid black; 
	text-align:center;
	BACKGROUND: url('../images/loginbg.png');
}
#centered
{ 
    width: 980px;
    text-align: left;
    border: 0px solid #000; 
    padding: 0;  
    margin: 0 auto;
	background-color: #FFF;
}
#content
{
	position: relative; 
	top: 10px; left: 0px; 
	width: 980px; 
	height: 500px; 
	background-color: #FFF; 
	border: 0px solid #F00;
}
#menu
{
	position: relative; 
	top: 0px; left: 0px; 
	width: 100%; 
	height: 25px; 
	background-color: #FFF; 
	border: 0px solid #CCC;
	text-align: center;
}
#appheader {
	position: relative; 
	left: 0px; 
	top: 0px; 
	width: 980px; 
	height: 50px; 
	background-color: #FFF; 
	border: 0px solid #000;
}
#body1 {
	position: relative; 
	right: 0px; 
	top: 30px;
	padding: 20px;
	width: 710px; 
	height: 420px; 
	background-color: #FFF; 
	border: 1px solid #CCC;
	text-align: left;
}